In [54]:
import pandas as pd
import seaborn as srn

In [12]:
dataset = pd.read_csv("livros_completos.csv")
dataset.head()

,Título,Preço,Avaliação (1-5),Disponibilidade,Categoria,Descrição,Preço sem imposto,Preço com imposto,Quantidade disponível,UPC,Link
0,A Light in the Attic,51.77,3,In stock,Poetry,It's hard to imagine a world without A Light i...,Â£51.77,Â£51.77,22,a897fe39b1053632,https://books.toscrape.com/catalogue/a-light-i...
1,Tipping the Velvet,53.74,1,In stock,Historical Fiction,"""Erotic and absorbing...Written with starling ...",Â£53.74,Â£53.74,20,90fa61229261140a,https://books.toscrape.com/catalogue/tipping-t...
2,Soumission,50.10,1,In stock,Fiction,"Dans une France assez proche de la nÃ´tre, un ...",Â£50.10,Â£50.10,20,6957f44c3847a760,https://books.toscrape.com/catalogue/soumissio...
3,Sharp Objects,47.82,4,In stock,Mystery,"WICKED above her hipbone, GIRL across her hear...",Â£47.82,Â£47.82,20,e00eb4fd7b871a48,https://books.toscrape.com/catalogue/sharp-obj...
4,Sapiens: A Brief History of Humankind,54.23,5,In stock,History,From a renowned historian comes a groundbreaki...,Â£54.23,Â£54.23,20,4165285e1663650f,https://books.toscrape.com/catalogue/sapiens-a...

In [14]:
dataset.isnull().sum()

Título                   0
Preço                    0
Avaliação (1-5)          0
Disponibilidade          0
Categoria                0
Descrição                1
Preço sem imposto        0
Preço com imposto        0
Quantidade disponível    0
UPC                      0
Link                     0
dtype: int64

In [16]:
dataset['Descrição'].describe()

count                                                   479
unique                                                  479
top       It's hard to imagine a world without A Light i...
freq                                                      1
Name: Descrição, dtype: object

In [18]:
dataset[dataset.isnull().any(axis=1)]

,Título,Preço,Avaliação (1-5),Disponibilidade,Categoria,Descrição,Preço sem imposto,Preço com imposto,Quantidade disponível,UPC,Link
160,The Bridge to Consciousness: I'm Writing the B...,32.0,3,In stock,Default,NaN,Â£32.00,Â£32.00,15,efc3768127714ec3,https://books.toscrape.com/catalogue/the-bridg...

In [22]:
dataset['Descrição'].fillna('Indisponivel')

0      It's hard to imagine a world without A Light i...
1      "Erotic and absorbing...Written with starling ...
2      Dans une France assez proche de la nÃ´tre, un ...
3      WICKED above her hipbone, GIRL across her hear...
4      From a renowned historian comes a groundbreaki...
                             ...
475    A brilliant, luminous story of first love, fam...
476    âThis is it. My rape. I knew it was coming. ...
477    By the early 1970s, President John F. Kennedy ...
478    The prophetic poem that launched a generation ...
479    Now in paperback, Umberto Ecoâs groundbreaki...
Name: Descrição, Length: 480, dtype: object

In [24]:
dataset.isnull().sum()

Título                   0
Preço                    0
Avaliação (1-5)          0
Disponibilidade          0
Categoria                0
Descrição                0
Preço sem imposto        0
Preço com imposto        0
Quantidade disponível    0
UPC                      0
Link                     0
dtype: int64

In [28]:
agrupado = dataset.groupby(['Preço']).size()
agrupado

Preço
10.16    1
10.23    1
10.29    1
10.40    1
10.41    1
        ..
59.15    1
59.45    1
59.48    1
59.64    1
59.90    1
Length: 456, dtype: int64

In [59]:
dataset.loc[dataset['Categoria'] == 'Add a comment', 'Categoria'] = "Romance"
dataset.loc[dataset['Categoria'] == 'Default', 'Categoria'] = "Fiction"

In [61]:
agrupado = dataset['Categoria'].value_counts()
agrupado

Categoria
Fiction               110
Nonfiction             59
Romance                42
Sequential Art         40
Young Adult            26
Fantasy                19
Food and Drink         18
Mystery                17
Poetry                 14
Childrens              11
Historical Fiction     10
Business                9
History                 8
Science Fiction         7
Horror                  7
Thriller                6
Music                   6
Art                     5
Humor                   5
Philosophy              5
Science                 5
Health                  4
Spirituality            4
Womens Fiction          4
Travel                  4
Religion                4
Autobiography           3
Psychology              3
New Adult               3
Self Help               3
Politics                3
Christian Fiction       3
Contemporary            2
Biography               2
Christian               2
Erotica                 1
Cultural                1
Crime                   1
Historical              1
Novels                  1
Short Stories           1
Suspense                1
Name: count, dtype: int64

In [114]:
dataset.to_csv('dados_limpos.csv', index=False)